<main class="row">

    <div class="col-md-5 d-flex justify-content-end">
        <div class="card" style="width: 22rem">

            <img src="{{produto.imagem}} " class="card-img-top " alt=" ">

            <div class="card-header ">
                <h5 class="card-title text-center ">{{produto.nome}}</h5>
            </div>


        </div>

    </div>

    <div class="col-md-7">
        <h1 class="text-center">Deletar</h1>

        <div class="card-body text-center">
            <p>Código: {{produto.id}}</p>
            <p>Preço: R{{produto.preco | currency}}</p>
            <p>Quantidade em estoque: {{produto.qtdEstoque}}</p>

        </div>

        <h5 class="text-center my-4">Tem certeza que quer deletar?</h5>

        <div class="d-flex justify-content-center mb-3">
            <button class="btn btn-outline-success mr-4" (click)="btnSim()">Sim</button>
            <button class="btn btn-outline-danger" (click)="btnNao()">Não</button>
        </div>


    </div>



</main>