<div class="container-xs text-center">

    <section class="parallax my-5">
        <h1 class="d-flex justify-content-center pt-5 texto">Horti Fruti</h1>

        <div class="mt-5 texto">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus vitae sint, dignissimos autem tempora eos nemo architecto at temporibus impedit ratione, doloribus, porro laborum? Fugiat architecto esse maxime mollitia dignissimos. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Possimus animi enim, itaque ut accusantium id excepturi earum praesentium soluta! Corrupti temporibus sint esse pariatur nulla, ad hic ducimus molestias in.
        </div>

    </section>
</div>